%html
  %head
    %meta{:charset => "UTF-8"}
    %title Sinatra + Redis + WebSocket
    %script{:src => "/js/lib/requirejs/require.js"}
    %script{:src => "/js/app/configs/requirejs_config.js"}
  %body
    = yield
