%html
  %head
    %meta{:charset => "UTF-8"}
    %title Sinatra + Redis + WebSocket
    %script{:src => "/js/jquery/dist/jquery.min.js"}
    %script{:src => "/js/requirejs/require.js"}
  %body
    = yield
