!!! 5
%html
  %head
    %title phaontomochajs
    %link{href: "//cdnjs.cloudflare.com/ajax/libs/mocha/1.21.4/mocha.js", rel: "stylesheet"}
  %body
    %div#mocha
    %script{src: "//cdnjs.cloudflare.com/ajax/libs/mocha/1.21.4/mocha.js"}

    %script
      mocha.setup('bdd')

    %script
      if (window.mochaPhantomJS) {
        mochaPhantomJS.run();
      } else {
        mocha.run();
      }

